.caja{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 15px;
    border-bottom:3px dashed black;
}

.caja div{
    margin: 5px;
    padding: 10px;
    background-color: aquamarine;
}
.hijos1{
    display: grid;
    grid-column: 1/3;
}

.hijos4{
    display: grid;
    grid-column: 2/4;
}
.hijos5{
    display: grid;
    grid-column: 1/4;
    text-align: center;
}